    <body>
        <nav class="navbar navbar-light navbar-dark bg-dark navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="img/icono.png" alt="icono" width="45" height="45"> Práctica 5 Computación en la Nube</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <!-- Modal Subida Imágenes -->
        <div class="modal fade" id="ModalSubidaImagenes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Subida Imágenes</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" align="left">
                    <form action="/IniciarSesion" method="POST">
                        <form action="/IniciarSesion" method="POST">
                            <div class="form-group" align="left">
                                <label class="font-weight-bold" for="exampleInputEmail1">Seleccionar Archivo</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                                    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                                </div>
                            </div>
                        </form>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Enviar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Modal Subida Hoja Cálculo -->
        <div class="modal fade" id="ModalSubidaHojaCalculo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Subir Hoja Cálculo</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" align="left">
                <form action="/IniciarSesion" method="POST">
                    <form action="/IniciarSesion" method="POST">
                        <div class="form-group" align="left">
                            <label class="font-weight-bold" for="exampleInputEmail1">Seleccionar Archivo</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                                <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                            </div>
                        </div>
                    </form>
                </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Enviar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Modal Recuperar Imagenes Originales -->
        <div class="modal fade" id="ModalRecuperarImagenesOriginales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Recuperar Imagen Original</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" align="center">
                    <form action="/IniciarSesion" method="POST">
                        <div class="form-group" align="left">
                            <label class="font-weight-bold" for="exampleInputEmail1">Nombre Imagen</label>
                            <input type="email" name="email" placeholder="Escriba el nombre de la Imagen" class="form-control">
                        </div>
                    </form>
                </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="RecuperarImagenesOriginales()">Enviar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Modal Recuperar Imágenes Procesadaso -->
        <div class="modal fade" id="ModalRecuperarImagenesProcesadas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Recuperar Imágenes Procesadas</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" align="center">
                    <form action="/IniciarSesion" method="POST">
                        <div class="form-group" align="left">
                            <label class="font-weight-bold" for="exampleInputEmail1">Nombre Imagen</label>
                            <input type="email" name="email" placeholder="Escriba el nombre de la Imagen" class="form-control">
                        </div>
                    </form>
                </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Enviar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Modal Recuperar Hojas Cálculo Originales -->
        <div class="modal fade" id="ModalRecuperarHojasCalculoOriginales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Recuperar Hojas  de Cálculo Originales</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body" align="center">
                        <form action="/IniciarSesion" method="POST">
                            <div class="form-group" align="left">
                                <label class="font-weight-bold" for="exampleInputEmail1">Nombre Imagen</label>
                                <input type="email" name="email" placeholder="Escriba el nombre de la Imagen" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Enviar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal Recuperar Hojas Cálculo Procesadas -->
        <div class="modal fade" id="ModalRecuperarHojasCalculoProcesadas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Recuperar Hojas  de Cálculo Procesadas</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body" align="center">
                        <form action="/IniciarSesion" method="POST">
                            <div class="form-group" align="left">
                                <label class="font-weight-bold" for="exampleInputEmail1">Nombre Imagen</label>
                                <input type="email" name="email" placeholder="Escriba el nombre de la Imagen" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Enviar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Recuperar Filtrado Secuencial -->
        <div class="modal fade" id="ModalRecuperarFiltradoSecuencial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Filtrado Secuencial</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" align="center">
                    <form action="/IniciarSesion" method="POST">
                        <div class="form-group" align="left">
                            <label class="font-weight-bold" for="exampleInputEmail1">Nombre Imagen</label>
                            <input type="email" name="email" placeholder="Escriba el nombre de la Imagen" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Enviar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Modal Recuperar Filtrado OpenMp -->
        <div class="modal fade" id="ModalRecuperarFiltradoOpenMp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Filtrado OpenMp</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" align="center">
                        <form action="/IniciarSesion" method="POST">
                            <div class="form-group" align="left">
                                <label class="font-weight-bold" for="exampleInputEmail1">Nombre Imagen</label>
                                <input type="email" name="email" placeholder="Escriba el nombre de la Imagen" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Enviar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Recuperar Filtrado MPI -->
        <div class="modal fade" id="ModalRecuperarFiltradoMPI" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Filtrado MPI</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" align="center">
                        <form action="/IniciarSesion" method="POST">
                            <div class="form-group" align="left">
                                <label class="font-weight-bold" for="exampleInputEmail1">Nombre Imagen</label>
                                <input type="email" name="email" placeholder="Escriba el nombre de la Imagen" class="form-control">
                            </div>
                            <div class="form-group" align="left">
                                <label class="font-weight-bold" for="exampleInputEmail1">Altura</label>
                                <input type="email" name="email" placeholder="Escriba la altura de la Imagen" class="form-control">
                            </div>
                            <div class="form-group" align="left">
                                <label class="font-weight-bold" for="exampleInputEmail1">Anchura</label>
                                <input type="email" name="email" placeholder="Escriba la anchura de la Imagen" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Enviar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

            <!-- Modal Recuperar Filtrado MPI -->
        <div class="modal fade" id="ModalRecuperarGraficas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Inicio Sesión</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" align="center">
                    <form action="/IniciarSesion" method="POST">
                        <div class="form-group" align="left">
                            <label class="font-weight-bold" for="exampleInputEmail1">Nombre Hoja de Cáculo</label>
                            <input type="email" name="email" placeholder="Escriba el nombre de la Hoja de Cálculo de Entrada" class="form-control">
                        </div>
                        <div class="form-group" align="left">
                            <label class="font-weight-bold" for="exampleInputEmail1">Elemento eje X</label>
                            <input type="email" name="email" placeholder="Escriba el elemento del Elemento eje X" class="form-control">
                        </div>
                        <div class="form-group" align="left">
                            <label class="font-weight-bold" for="exampleInputEmail1">Elemento eje Y</label>
                            <input type="email" name="email" placeholder="Escriba el Elemento del Eje Y" class="form-control">
                        </div>
                        <div class="form-group" align="left">
                            <label class="font-weight-bold" for="exampleInputEmail1">Tipo Representación</label>
                            <input type="email" name="email" placeholder="Escriba el tipo de representación" class="form-control">
                        </div>
                        <div class="form-group" align="left">
                            <label class="font-weight-bold" for="exampleInputEmail1">Tipo Gráfica</label>
                            <input type="email" name="email" placeholder="Escriba el tipo de Gráfica" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Enviar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>


        <div class="container">
            <div class="mt-5" align="center">
                <h1 class="mt-5"><img src="img/icono.png" alt="icono" width="75" height="75"> Práctica 5 Computación en la Nube</h1>
            </div>
            
            <div class="mt-5">
                <h2 class="font-weight-bold">1. Subida Archivos.</h2>
                <div class="mt-3">
                    <h3 class="font-weight-bold">1.1 Imágenes.</h3>
                    <table class="table table-sm table-striped mt-3 mx-auto w-auto table-hover">
                        <thead>
                            <tr class="thead-dark">
                                <th scope="col">Elemento</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody align="left">
                            <tr>
                                <td class="font-weight-bold">Descripción</td>
                                <td>Método que permite cargar una Imagen.</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">URL</td>
                                <td>/api/Upload/Img</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Devuelve</td>
                                <td>
                                    <ul>
                                        <li>fieldname: Key de la petición POST.</li>
                                        <li>originalname: Nombre original del archivo.</li>
                                        <li>encoding: Tipoi de codificación.</li>
                                        <li>mimetype: Tipo de archivo(text/jpeg,...).</li>
                                        <li>destination: Lugar donde se va a almacenar.</li>
                                        <li>filename: Nueno nombre del fichero. Este deberá ser utilizado posteriormente.</li>
                                        <li>path: Lugar de Almacenamiento.</li>
                                        <li>size: Tamaño del archivo.</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>  
                    <div align="center">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalSubidaImagenes">Probar</button>
                    </div>                  
                </div>
                
                <div class="mt-3">
                    <h3 class="font-weight-bold">1.2 Hojas de Cálculo.</h3>
                    <table class="table table-sm table-striped mt-3 mx-auto w-auto table-hover">
                        <thead>
                            <tr class="thead-dark">
                                <th scope="col">Elemento</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody align="left">
                            <tr>
                                <td class="font-weight-bold">Descripción</td>
                                <td>Método que permite cargar un archivo de tipo Hoja de Cálculo.</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">URL</td>
                                <td>/api/Upload/HojaCalculo</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Devuelve</td>
                                <td>
                                    <ul>
                                        <li>fieldname: Key de la petición POST.</li>
                                        <li>originalname: Nombre original del archivo.</li>
                                        <li>encoding: Tipoi de codificación.</li>
                                        <li>mimetype: Tipo de archivo(text/csv,...).</li>
                                        <li>destination: Lugar donde se va a almacenar.</li>
                                        <li>filename: Nueno nombre del fichero. Este deberá ser utilizado posteriormente.</li>
                                        <li>path: Lugar de Almacenamiento.</li>
                                        <li>size: Tamaño del archivo.</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>     
                    <div align="center">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalSubidaHojaCalculo">Probar</button>
                    </div>                       
                </div>
            </div>

            <div class="mt-5">
                <h2 class="font-weight-bold">2. Recuperar Archivos.</h2>
                <div class="mt-3">
                    <h3 class="font-weight-bold">2.1 Imágenes.</h3>
                    <h4 class="font-weight-bold mt-3">2.1.1 Originales.</h4>
                    <table class="table table-sm table-striped mt-3 mx-auto w-auto table-hover">
                        <thead>
                            <tr class="thead-dark">
                                <th scope="col">Elemento</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody align="left">
                            <tr>
                                <td class="font-weight-bold">Descripción</td>
                                <td>Método que permite recoger una Imagen subida previamente.</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">URL</td>
                                <td>/api/Get/Img/Original/:name</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Parámetros</td>
                                <td>
                                    <ul>
                                        <li>Name: Nombre de la Imagen a recoger.</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>    
                    <div align="center">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalRecuperarImagenesOriginales">Probar</button>
                    </div>                     

                    <h4 class="font-weight-bold mt-3">2.1.2 Procesadas.</h4>
                    <table class="table table-sm table-striped mt-3 mx-auto w-auto table-hover">
                        <thead>
                            <tr class="thead-dark">
                                <th scope="col">Elemento</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody align="left">
                            <tr>
                                <td class="font-weight-bold">Descripción</td>
                                <td>Método que permite recoger una Imagen procesada previamente.</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">URL</td>
                                <td>/api/Get/Img/Original/:name</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Parámetros</td>
                                <td>
                                    <ul>
                                        <li>Name: Nombre de la Imagen a recoger.</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>     
                    <div align="center">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalRecuperarImagenesProcesadas">Probar</button>
                    </div>                       
                </div>

                <div class="mt-3">
                    <h3 class="font-weight-bold">2.2 Hojas de Cálculo.</h3>
                    <h3 class="font-weight-bold">2.2.1 Originales.</h3>
                    <table class="table table-sm table-striped mt-3 mx-auto w-auto table-hover">
                        <thead>
                            <tr class="thead-dark">
                                <th scope="col">Elemento</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody align="left">
                            <tr>
                                <td class="font-weight-bold">Descripción</td>
                                <td>Método que permite recoger una Imagen subida previamente.</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">URL</td>
                                <td>/api/Get/HojaCalculo/Original/:name</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Parámetros</td>
                                <td>
                                    <ul>
                                        <li>Name: Nombre de la HojaCalculo a recoger.</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>  
                    <div align="center">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalRecuperarHojasCalculoOriginales">Probar</button>
                    </div>             

                    <h3 class="font-weight-bold">2.2.2 Procesadas.</h3>
                    <table class="table table-sm table-striped mt-3 mx-auto w-auto table-hover">
                        <thead>
                            <tr class="thead-dark">
                                <th scope="col">Elemento</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody align="left">
                            <tr>
                                <td class="font-weight-bold">Descripción</td>
                                <td>Método que permite recoger una Imagen subida previamente.</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">URL</td>
                                <td>/api/Get/Img/HojaCalculo/:name</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Parámetros</td>
                                <td>
                                    <ul>
                                        <li>Name: Nombre de la Gráfica a recoger (Imagen).</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>   
                    <div align="center">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalRecuperarHojasCalculoProcesadas">Probar</button>
                    </div>                        
                </div>
            </div>

            <div class="mt-5">
                <h2 class="font-weight-bold">3. Filtrado Imágenes.</h2>
                <div class="mt-3">
                    <h3 class="font-weight-bold">3.1 Filtrado Secuencial.</h3>
                    <table class="table table-sm table-striped mt-3 mx-auto w-auto table-hover">
                        <thead>
                            <tr class="thead-dark">
                                <th scope="col">Elemento</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody align="left">
                            <tr>
                                <td class="font-weight-bold">Descripción</td>
                                <td>Método que permite aplicar un filtrado a una imagen subida previamente. Este filtrado usa un algoritmo secuencial.</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">URL</td>
                                <td>/api/Secuencial/:name</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Parámetros</td>
                                <td>
                                    <ul>
                                        <li>Name: Nombre del fichero previamente subido.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Nuevo Nombre</td>
                                <td>Secuencial-Name</td>
                            </tr>
                        </tbody>
                    </table>                    
                    <div align="center">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalRecuperarFiltradoSecuencial">Probar</button>
                    </div>    
                </div>
                
                <div class="mt-3">
                    <h3 class="font-weight-bold">3.2 Filtrado con OpenMp.</h3>
                    <table class="table table-sm table-striped mt-3 mx-auto w-auto table-hover">
                        <thead>
                            <tr class="thead-dark">
                                <th scope="col">Elemento</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody align="left">
                            <tr>
                                <td class="font-weight-bold">Descripción</td>
                                <td>Método que permite aplicar un filtrado a una imagen subida previamente. Este filtrado usa un algoritmo paralelo.</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">URL</td>
                                <td>/api/OpenMP/:name</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Parámetros</td>
                                <td>
                                    <ul>
                                        <li>Name: Nombre del fichero previamente subido.</li>
                                    </ul>
                                </td>
                                </tr><tr>
                                    <td class="font-weight-bold">Nuevo Nombre</td>
                                    <td>OpenMP-Name</td>
                                </tr>
                            
                        </tbody>
                    </table>   
                    <div align="center">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalRecuperarFiltradoOpenMp">Probar</button>
                    </div>                     
                </div>

                <div class="mt-3">
                    <h3 class="font-weight-bold">3.3 Filtrado con MPI.</h3>
                    <table class="table table-sm table-striped mt-3 mx-auto w-auto table-hover">
                        <thead>
                            <tr class="thead-dark">
                                <th scope="col">Elemento</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody align="left">
                            <tr>
                                <td class="font-weight-bold">Descripción</td>
                                <td>Método que permite aplicar un filtrado a una imagen subida previamente. Este filtrado usa un algoritmo paralelo.</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">URL</td>
                                <td>/api/MPI/:name/:height/:width</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Parámetros</td>
                                <td>
                                    <ul>
                                        <li>name: Nombre del fichero previamente subido.</li>
                                        <li>height:  Altura de la imagen.</li>
                                        <li>height:  Anchura de la imagen.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Nuevo Nombre</td>
                                <td>MPI-Name</td>
                            </tr>
                        </tbody>
                    </table>    
                    <div align="center">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalRecuperarFiltradoMPI">Probar</button>
                    </div>                    
                </div>
            </div>

            <div class="mt-5">
                <h2 class="font-weight-bold">4. Gráficas.</h2>
                <div class="mt-3">
                    <table class="table table-sm table-striped mt-3 mx-auto w-auto table-hover">
                        <thead>
                            <tr class="thead-dark">
                                <th scope="col">Elemento</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody align="left">
                            <tr>
                                <td class="font-weight-bold">Descripción</td>
                                <td>Método que permite aplicar un filtrado a una imagen subida previamente. Este filtrado usa un algoritmo paralelo.</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">URL</td>
                                <td>/api/Grafica/:dataEntry/:elementoX/:elementoY/:tipoRepresentacion/:tipoGrafica</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Parámetros</td>
                                <td>
                                    <ul>
                                        <li>dataEntry: Nombre del fichero previamente subido.</li>
                                        <li>elementoX: Elemento del eje X.</li>
                                        <li>elementoY: Elemento del eje Y.</li>
                                        <li>tipoRepresentacion: En caso de agrupar el tipo de plateamiento que se quiere realizar.</li>
                                            <ol>
                                                <li>Suma.</li>
                                                <li>Máximo.</li>
                                                <li>Mínimo.</li>
                                            </ol>
                                        <li>tipoGrafica: Indicar el tipo de gráfica a devolver.</li>
                                            <ol>
                                                <li>Gráfica de Líneas.</li>
                                                <li>Gráfica de Barras.</li>
                                                <li>Gráfica de puntos.</li>
                                                <li>Resumen.</li>
                                            </ol>
                                    </ul>
                                </td>
                                </tr><tr>
                                    <td class="font-weight-bold">Nuevo Nombre</td>
                                    <td>
                                        <ul>
                                            <li>Gráfica de Líneas: Lineas-dataEntry.</li>
                                            <li>Gráfica de Barras: Barras-dataEntry.</li>
                                            <li>Gráfica de Puntos: Puntos-dataEntry.</li>
                                            <li>Resumen: Resumen-dataEntry.</li>
                                        </ul>
                                    </td>
                                </tr>
                            
                        </tbody>
                    </table>           
                    <div align="center">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalRecuperarGraficas">Probar</button>
                    </div>             
                </div>
            </div>
        </div>

        <footer class="mt-5 page-footer font-small pt-4 bg-dark bg-dark text-white footer">
            <div class="container">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">Práctica 5</h5>
                    <p>Práctica 5 desarrollado para la asignatura de Computación Nube.</p>
                    <h5 class="text-uppercase">Datos de contácto</h5>
                        <h6><b>Autor: </b>Omar Pérez Znakar</h6>
                        <h6><b>Correo: </b>alu0100945645@ull.edu.es</h6>
                    </div>
                    <div class="col-md-6 mb-md-0 mb-3">
                    <h5 class="text-uppercase">API</h5>
                    <ul class="list-unstyled">
                        
                        <li>
                            <a style="color:white">1. Subida Archivos.</a>
                        </li>
                        
                        <li>
                            <a style="color:white">2. Recuperar Archivos.</a>
                        </li>

                        <li>
                            <a style="color:white">3. Filtrado Imágenes.</a>
                        </li>

                        <li>
                            <a style="color:white">4. Gráficas.</a>
                        </li>
                        
                    </ul>
                    </div>
                </div>
                        <!-- Footer Links -->
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">Práctica 5 realizada por <b>Omar Pérez Znakar</b>
                    </div>
                    <!-- Copyright -->
                </div>
            </div>
        </footer>

        <script>

            function RecuperarImagenesOriginales(){
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        alert(this.responseText);
                    }
                };
                xhttp.open("POST", "http://10.6.129.230/api/Get/Img/Original/image.png", true);
                xhttp.setRequestHeader("Content-type", "application/json");
                xhttp.send("Your JSON Data Here");
            } 
        </script>
    </body>